.sectionHeader {
    font-size: 2rem;
    text-align: center;
}

.sectionConfig {
    text-align: center;
    margin: 10rem 4rem;
}

.nameSection {
    text-align: center;
    margin: 5rem 4rem;
}

.schoolCard {
    text-align: center;
    justify-content: center;
}

.aboutMeImage {
    border-radius: 80%;
}